
<div class="container">
  <div class="row">
    <% for x in @news["Data"] %>

      <div class="col-md">

        <div class="card" style="width: 20rem; height: 600px;">
            <img src="<%= x["imageurl"]%> " class="card-img-top" alt=" <%= x["source"] %> ">
              <div class="card-body">

                <h5 class="card-title"><%= x["title"].to_s.truncate(70) %></h5>
                <p class="card-text"><%= x["body"].to_s.truncate(150) %></p>

              <a href="<%= x["url"] %>" class="btn btn-secondary">Read more..</a>
                <br><br>
              </div>
          </div>
        </div>
      <br><br>
    <% end %>
  </div>
</div>

